<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ItemisIntegrateEAExampleCLI"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.yakindu.bridges.ea.example.cli.ExampleCLI">
         </run>
      </application>
   </extension>
   <extension
         id="ItemisIntegrateEAExampleCLI"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.yakindu.bridges.ea.example.cli.ExampleCLI"
            name="Itemis INTEGRATE-EA Example validation CLI">
         <property
               name="appName"
               value="Itemis INTEGRATE-EA Example validation CLI">
         </property>
      </product>
   </extension>
   <extension
         point="com.yakindu.bridges.ea.uml.elementContributor">
      <elementcontributor
            element_contributor="com.yakindu.bridges.ea.example.cli.load.EAEffectContributor">
      </elementcontributor>
      <elementcontributor
            element_contributor="com.yakindu.bridges.ea.example.cli.load.EAEventContributor">
      </elementcontributor>
   </extension>
</plugin>
